{% extends 'layout.html' %}

{% block title %} 
    {% if title %}
        <p>{{title}}</p>
    {% else %}
        <strong>Don't have a title</strong>
    {% endif %}
{% endblock %}

{% block content %}

    <h1 class="title">
        {% if title %}
            <p>{{title}}</p> 
        {% else %}
            <strong>Don't have a title</strong>
        {% endif %}
    </h1>

    <ul>
        {% for article in articles %}
            <li>
                <h4>{{article.id}}. {{article.title}} - <a href="{% url 'delete_article' id=article.id %}">Delete</a></h4>
                <strong>{{article.created_at}}</strong>
                <p>{{article.content}}</p>
            </li>
            <br/>
        {% endfor %}
    </ul>

{% endblock %}