<!DOCTYPE html>
<html lang='es'>

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
            <!-- Title block -->
        {% endblock %}
        | Jorge Agulló web
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}" />

</head>

<body>
    <!-- Web Heder -->
    <header>
        <div id="logo">
            <!-- Logo -->

            <h1>Web site with Django | by Jorge Agulló</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href='/index'>Index</a>
            </li>
            <li>
                <a href='/helloworld'>Hello World</a>
            </li>
            <li>
                <a href='/pagetest'>Page Test</a>
            </li>
            <li>
                <a href='/yearlist'>Year List</a>
            </li>
            <li>
                <a href='/contact'>Contact Page</a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <h2 class="title">Test Title</h2>
        {% block content %}
            <!-- Content Block -->
            <strong> Default content!!! </strong>
        {% endblock %}
    </div>

</body>

<footer>
    Master en python &copy; Jorge Agulló
</footer>

</html>
