{% extends "layout.html" %}

{% block title %}
    Car list
    {{super()}}
{% endblock title %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class='message alert-success'>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Car list | Jorge Agulló</h1>

    {% for car in cars %}
        <article class="article-item">
            <div class="data">
                <h2><a href="{{ url_for('car', car_id=car.0 )}}">{{car.1}}</a></h2>
                <span class="date">
                    {{car.2}} 
                    |
                    {{car.3}}
                </span>
                <p>{{car.4}}</p>
                <p>
                    <a href="{{ url_for('edit', car_id=car.0 )}}" class='btn btn-warning'>Editar</a>
                    <a href="{{ url_for('delete', car_id=car.0 )}}" class='btn btn-danger'>Eliminar</a>
                </p>
            </div>

            <div class="clearfix"></div>
        </article>

    {% endfor %}


    {# comentario #}
    {#
        Comentario
    #}

{% endblock content %}