{% extends "layout.html" %}

{% block title %}
    Car list
    {{super()}}
{% endblock title %}


{% block content %}
    <h1>Car list | Jorge Agulló</h1>

    {% for car in cars %}
        <article class="article-item">
            <div class="data">
                <h2><a href="">{{car.1}}</a></h2>
                <span class="date">
                    {{car.2}} 
                    |
                    {{car.3}}
                </span>
                <p>{{car.4}}</p>
                <p>
                    <a href="" class='btn btn-warning'>Editar</a>
                    <a href="" class='btn btn-danger'>Eliminar</a>
                </p>
            </div>

            <div class="clearfix"></div>
        </article>

    {% endfor %}


    {# comentario #}
    {#
        Comentario
    #}

{% endblock content %}