<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} | Web with Flask {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <!-- Web Heder -->
    <header>
        <div id="logo">
            <!-- Logo -->
            <img src="{{ url_for('static', filename='img/flask.png') }}" alt=""/>
            <h1>Blog with Django</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="{{ url_for('info')}}">Information</a></li>
            <li><a href="{{ url_for('create_car')}}">Create Car</a></li>
            <li><a href="{{ url_for('cars')}}">Cars</a></li>
            <li><a href="{{ url_for('contact')}}">Contact</a></li>
            <li><a href="{{ url_for('languages')}}">Languages</a></li>
        </ul>
    </nav>
    <div class="bar">
        <span class="left-corner"></span>
        <span class="backfilling"></span>
        <span class="right-corner"></span>
    </div>

    <div id="content">
        <div class="box">
            {% block content %}
                <!-- Content Block -->
                <strong> Default content!!! </strong>
            {% endblock %}
        </div>
    </div>

</body>

<footer>
    <h4> Web with Flask | &copy;Jorge Agulló Develop - {{ now.year }}</h4>
</footer>

</html>