<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} | Web with Flask {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1> Web with Flask | Jorge Agulló </h1>

    <hr>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="{{ url_for('info')}}">Information</a></li>
            <li><a href="{{ url_for('contact')}}">Contact</a></li>
            <li><a href="{{ url_for('languages')}}">Languages</a></li>
        </ul>
    <hr>

    <section id='content'>
        {% block content %}

        {% endblock content %}
    </section>

</body>
<footer>
    <hr>
    <h4> Web with Flask | Jorge Agulló </h4>
</footer>

</html>